/* Add application styles & imports to this file! */

/* Global Styles */
* {
  font-family: 'Roboto', Arial, sans-serif;
}
body {
  margin: 0;
  background :#eee5e5;
}
/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 3px 13px;
  border-radius: 6px;
  font-size: 10px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}





/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
